<!DOCTYPE html>
<html>
  <head>
    <title><%= Knit Away... %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Knit Away... %></h1>
    <p>Welcome to <%= Knit Away... %></p>
  </body>
</html>


<!-- <%- include('../partials/header') %> -->
<!-- <%- include('../partials/footer') %> -->
