<%- include('../partials/header') %>

<h2><%= pattern.name %></h2>
<section id="show-new-pattern">
  <img src="<%= pattern.imgUrl %>" alt="<%= pattern.name %>" height="250" width="250">
  <br>
  <div>Pattern Name: </div>
  <div><%= pattern.name %></div>
  <div>Material: </div>
  <div><%= pattern.materials %></div>
  <div>Details: </div>
  <div><%= pattern.details %></div>
  <div>Difficulty Level: </div>
  <div><%= pattern.difficulty %></div>
  <div>Instructions: </div>
  <div><%= pattern.instructions %></div>
</section>

<div>
  <% if (user) { %>
    <a id="edit-pattern" href="/patterns/<%= pattern._id %>/edit"><button>Edit Pattern</button></a>
    <form id="delete-pattern" action="/patterns/<%= pattern._id %>?_method=DELETE" method="POST"><button type="submit">Delete Pattern</button></form>
<% } %>
</div>

<br><br><h2>Comments</h2>

<% if (user) { %>
  <form id="add-comment-form" method="POST"
    action="/patterns/<%= pattern._id %>/comments">
    <label>Comment:</label>
    <br>
    <textarea name="content"></textarea>
    <button type="submit">Post Comment</button>
  </form>
<% } %>  
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% pattern.comments.forEach(function(c) { %>
        <tr>
          <td class="comment-user"><img src="<%= c.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"><%= c.userName %></td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td>
            <% if ( user?._id.equals(c.user) ) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            </td>
          </tr>
      <% } else { %>
        <h6>No Comments Yet</h6>
        <% }}) %>
      </tbody>
    </table>

       
  


 <%- include('../partials/footer') %>
