<%- include('../partials/header') %>


<section id="show-new-pattern">
  <div>Pattern Name: </div>
  <div><%= pattern.name %></div>
  <div>Material: </div>
  <div><%= pattern.materials %></div>
  <div>Details: </div>
  <div><%= pattern.details %></div>
  <div>Difficulty Level: </div>
  <div><%= pattern.difficulty %></div>
  <div>Instructions: </div>
  <div><%= pattern.instructions %></div>
</section>


 <%- include('../partials/footer') %>
