<%- include('../partials/header') %>

<h2><%= pattern.name %></h2>
<section id="show-new-pattern">
  <img src="<%= pattern.imgUrl %>" alt="<%= pattern.name %>" height="250" width="250">
  <br>
  <div>Pattern Name: </div>
  <div><%= pattern.name %></div>
  <div>Material: </div>
  <div><%= pattern.materials %></div>
  <div>Details: </div>
  <div><%= pattern.details %></div>
  <div>Difficulty Level: </div>
  <div><%= pattern.difficulty %></div>
  <div>Instructions: </div>
  <div><%= pattern.instructions %></div>
</section>



 <%- include('../partials/footer') %>
